<div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-2">
    <div class="form-group">
        <h2><strong>This is Radera</strong></h2>
        <blockquote>
            <strong> Vi är en sida där vill skapa en plats för er som vill </strong> bli av med era prylar och saker plus att kanske
            tjäna en hacka. Vi strävar efter att på ett snyggt och enkelt sätt skapa en miljö som känns stimmulerande för både säljare och köpare.
            Vi tar ut en avgift på 10% på köp över 3000kr. 50% av våra intäkter går till <a href="http://www.wwf.se/">WorldWildlifeFoundation</a>
        </blockquote>
    </div>
</div>
