<div ng-app="app" ng-controller="auctionsCtrl" class="col-lg-10 col-lg-offset-2 col-md-10 col-md-offset-2 col-sm-10 col-sm-offset-2 col-xs-10 col-xs-offset-2">
    <h1>Auctions</h1>
    <div class="panel panel-primary panel-heading col-lg-3 col-md-4 col-sm-5 col-xs-10" ng-repeat="auction in auctionList">
        <div class="panel-heading">
            <h3 class="panel-title">{{auction.Title}}</h3>
        </div>       

        <div class="panel-body">            
            <div class="form-group">
                <center><img class="picture" src="http://ecx.images-amazon.com/images/I/51i3AP7DNFL._AC_UL320_SR254,320_.jpg"></center>
            </div>
            <div class="form-group">
                <center><h2 id="time">03:45:05</h2></center>
            </div>
            <div class="form-group">
                <center>Seller : {{auction.AuctionOwner.FirstName}}</center>
                <center>StartPrice : {{auction.StartPrice}}</center>
                <center>PriceBuyout : {{auction.PriceBuyout}}</center>
            </div>
            <div>
                <center><a href="/#/index" class="btn btn-success button">Bid Now</a></center>
            </div>
        </div>
    </div>

</div>
