<div class="container">
    <div ng-app="app" ng-controller="auctionsCtrl"> <!--class="col-lg-10 col-lg-offset-2 col-md-10 col-md-offset-2 col-sm-10 col-sm-offset-2 col-xs-10 col-xs-offset-2"-->
        <h1>
            Auctions
        </h1>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="form-group">
                    <label for="searchCategoryId">Select Category</label>
                    <select id="searchCategoryId"
                            class="form-control"
                            ng-model="searchInput.selectedCategory"
                            ng-options="item.CategoryName for item in searchCategories track by item.CategoryId"></select>
                </div>
                <div class="form-group">
                    <label for="searchProductName">Search for Products</label>
                    <input type="text" class="form-control"
                           ng-model="searchInput.auctionName" />
                </div>
            </div>
        </div>

        <br />
        <br />
        <div class="row" id="atrow">
            <div class="panel panel-primary panel-primary-auction col-lg-3 col-md-4 col-sm-6 col-xs-12" ng-repeat="auction in auctionList | filter : searchImmediate"> <!--style="padding-bottom:75px;"-->
                <div class="panel-heading">
                    <h3 class="panel-title">{{auction.Title}}</h3>
                </div>
                <ul class="tab">
                    <li><a href="#/auctionsinlogged" class="tablinks" ng-click="openTab(event, auction.AuctionID,'main')"><h6>Main</h6></a></li>
                    <li><a href="#/auctionsinlogged" class="tablinks" ng-click="openTab(event, auction.AuctionID,'comments')"><h6>Comments</h6></a></li>
                    <li><a href="#/auctionsinlogged" class="tablinks" ng-click="openTab(event, auction.AuctionID, 'comment')"><h6>Comment</h6></a></li>
                </ul>
                <div class="panel-body tabcontent" ng-attr-id="{{'main' + auction.AuctionID}}">
                    <div class="form-group">
                        <center><img class="picture img-responsive" src="{{auction.Picture}}"></center>
                    </div>
                    <div class="form-group">
                        <center><h2 id="time">03:45:05</h2></center>
                    </div>
                    <div class="form-group"><center>Seller : {{auction.AuctionOwner.FirstName}}</center></div>
                    <div class="form-group"><center>StartPrice : {{auction.StartPrice}}</center></div>
                    <div class="form-group"><center>Bid : {{auction.currBid}}</center></div>
                    <!--<div class="form-group"><center>description : {{auction.description}}</center></div>-->
                    <div class="form-group"><center>Category : {{auction.Category.CategoryName}}</center></div>
                    <div class="form-group"><center><input class="form-control" type="text" name="bid.BidAmount" ng-model="bid.BidAmount" value="{{bid.BidAmount}}" /></center></div>

                    <div class="form-group buttonlay"><input class="btn btn-success" type="submit" value="Bid" name="btnBid" ng-click="placeBid(bid, auction)" /></div>
                    <!--<div class="form-group buttonlay"><a href="/#/auctiondetails" class="btn btn-success button">Details</a></div>-->
                    <div class="form-group buttonlay"><a href="/#/auctiondetails/{{auction.AuctionID}}" class="btn btn-success button">Details</a></div>

                </div>
                <div class="panel-body tabcontent" ng-attr-id="{{'comments' + auction.AuctionID}}">
                    <div class="panel" ng-repeat="comment in auction.Comments">
                        <div class="row commentstyle">
                            <div class="col-lg-12">{{comment.Date | date:"dd/MM/yyyy 'at' h:mma"}}</div>
                        </div>
                        <div class="row commentstyle">
                            <div class="col-lg-3">{{comment.CommentOwner.Username}}:</div>
                            <div class="col-lg-9">{{comment.CommentMessage}}</div>
                        </div>
                    </div>
                </div>
                <div class="panel-body tabcontent" ng-attr-id="{{'comment' + auction.AuctionID}}">
                    <form>
                        <div class="row">
                            <textarea class="col-lg-12" ng-model="message" autofocus="autofocus" rows="7"></textarea>
                        </div>

                        <div class="row">
                            <button class="col-lg-6" type="reset">Reset</button>
                            <button class="col-lg-6" type="submit" ng-click="postcomment(message, auction)">Post</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
