<!DOCTYPE html>
<html>
<head>
    <title>Radera</title>
    <meta charset="utf-8" />

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootswatch/cerulean/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
    <link href="~/Content/RegisterLogin.css" rel="stylesheet" />

</head>
<body ng-app="app">
    <div id="sidebar">
        @*@if (User.isInlogged)
            {
                <img src="~/img/user1.jpg" alt="headshot" class="headshot" />
                <span id="username">@User.FirstName</span>
            }*@
        <ul class="nav">
            @*<li class="active"><a href="/Home/Index">Home</a></li>*@
            <li><a href="/#/index">Home</a></li>
            <li><a href="/Account/Register">Login/Register</a></li>
            <li><a href="/#/about">About</a></li>
            <li><a href="/#/contact">Contact</a></li>
            <li><a href="/#/auctions">Auctions</a></li>

            @if ((bool)Session["loginStatus"] == true)
            {
                <li><a class="animate" href="~/Default/Login">Register/Login</a></li>
                <li><a class="animate" href="~/Account/Logout">Logout</a></li>
            }
            
        </ul>
    </div>

    <div id="wrapper">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <ul class="nav navbar-nav navbar-left">

                    <li class="form-group" id="radera-navbar">
                        <button id="menuToggle" class="btn btn-primary form-control">
                            <i class="glyphicon glyphicon-chevron-left"></i>
                        </button>                        
                    </li>
                </ul>
                <a class="navbar-brand navbar-brandstyle" href="/Home/Index">Radera</a>
                <ul class="nav navbar-nav navbar-right">
                    <li class="form-group" id="radera-searchbar">
                        <label class="glyphicon glyphicon-search" style="font-size:medium; color:white;">Search</label>
                        <input name="searchInput" class="form-control" />
                        @*<span validation></span>*@
                    </li>

                </ul>
            </div>
        </nav>
        <div id="main" class="container-fluid">

            @RenderBody()
        </div>
        <div id="footer" class="container-fluid">
            <div class="navbar navbar-inverse navbar-fixed-bottom">
                <h4 class="text-center text-info">&copy; 2015 Radera Ltd.</h4>
            </div>
        </div>
    </div>


    <script type="text/javascript" src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/MyScripts/site.js" type="text/javascript"></script>
    <script src="~/MyScripts/RegisterLogin.js" type="text/javascript"></script>

    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/angular/app.js"></script>
    
</body>
</html>