<!DOCTYPE html>
<html>
<head>
    <title>Radera</title>
    <meta charset="utf-8" />

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootswatch/superhero/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />

</head>
<body>
    <div id="sidebar">
        @*@if (User.isInlogged)
            {
                <img src="~/img/user1.jpg" alt="headshot" class="headshot" />
                <span id="username">@User.FirstName</span>
            }*@
        <ul class="nav">
            <li class="active"><a href="~/Views/Home/Index">Home</a></li>
            <li><a href="~/Views/Home/About">About</a></li>
            <li><a href="~/Views/Home/Contact">Contact</a></li>
        </ul>
    </div>

    <div id="wrapper">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="nav navbar-nav navbar-left">

                    <div class="form-group" id="radera-navbar">
                        <button id="menuToggle" class="btn btn-primary form-control">
                            <i class="glyphicon glyphicon-chevron-left"></i>
                        </button>                        
                    </div>
                </div>

                <div class="nav navbar-nav navbar-right">
                    <div class="form-group" id="radera-searchbar">
                        <label class="glyphicon glyphicon-search">Search</label>
                        <input name="searchInput" class="form-control" />
                        @*<span validation></span>*@
                    </div>

                </div>
            </div>
        </nav>
        <div id="main" class="container-fluid">

            @RenderBody()
        </div>
        <div id="footer" class="container-fluid">
            <div class="navbar navbar-inverse navbar-fixed-bottom">
                <h4 class="text-center text-info">&copy; 2015 Radera Ltd.</h4>
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/MyScripts/site.js"></script>


</body>
</html>