/* site.css */
body {
    font-family: sans-serif;
    font-size: 14px;
    margin: 0;
}

#main {
    background-color: #ffffff;
    padding: 4px;
    margin: 0;
}

#footer {
    background-color: #222;
    color: #eee;
    padding: 8px 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.menu {
    font-size: 12px;
}

    .menu li {
        list-style-type: none;
    }

        .menu li.active {
            font-weight: bold;
        }

#sidebar {
    background: #2a2c36;
    color: #eee;
    position: fixed;
    height: 100%;
    width: 250px;
    overflow: hidden;
    left: 0;
    margin: 0;
    -moz-transition: left ease .75s;
    -o-transition: left ease .75s;
    -webkit-transition: left ease .75s;
    transition: left ease .75s;
}

    #sidebar.hide-sidebar {
        left: -250px;
        -moz-transition: left ease .75s;
        -o-transition: left ease .75s;
        -webkit-transition: left ease .75s;
        transition: left ease .75s;
    }

#wrapper {
    margin: 0 0 0 250px;
    -moz-transition: margin-left ease .75s;
    -o-transition: margin-left ease .75s;
    -webkit-transition: margin-left ease .75s;
    transition: margin-left ease .75s;
}

    #wrapper.hide-sidebar {
        margin-left: 0;
        -moz-transition: margin-left ease .75s;
        -o-transition: margin-left ease .75s;
        -webkit-transition: margin-left ease .75s;
        transition: margin-left ease .75s;
    }

#radera-navbar {
    margin: 25px 15px 15px 15px;
}

#radera-searchbar {
    margin: 15px 25px 15px 15px;
}


.navbar-brandstyle {
    margin: 15px 15px 15px 15px;
    font-family: Forte;
    font-size: 75px;
}

.picture {
    width: 100%;
    max-height: 150px;
}

#time {
    font-size: 22px;
    line-height: 26px;
    color: #383838;
    text-align: center;
    margin: 1px;
}
/*#cash {
    color: #4ba500;
    text-align: center;
    margin: 5px;
}
#user {
    word-wrap: break-word;
    color: #666;
    text-align: center;
    margin:0.5px;
}*/
.button {
    color: #fff !important;
    text-shadow: 0 1px 2px #693100;
    filter: dropshadow(color=#693100,offx=1,offy=2);
    text-align: center;
}

/*img{
    max-width: 100px;
    max-height: 100px;
    border: solid 5px black;
}*/

#userImg{
    max-width: 100px;
    max-height: 100px;
    border: solid 5px black;
}

#imgfront {
    max-width: 10000px;
    max-height: 500px;
    margin-top: 100px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/* Style the list */
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

    /* Float the list items side by side */
    ul.tab li {
        float: left;
    }

        /* Style the links inside the list items */
        ul.tab li a {
            display: inline-block;
            color: black;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            transition: 0.3s;
            font-size: 17px;
        }

            /* Change background color of links on hover */
            ul.tab li a:hover {
                background-color: #ddd;
            }

            /* Create an active/current tablink class */
            ul.tab li a:focus, .active {
                background-color: #ccc;
            }

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}


@-webkit-keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#itemimg {
    width: 750px;
    height: 500px;
}

.portfolio-item {
    margin-bottom: 25px;
}

#test {
    margin-bottom: 50px;
}
.buttonlay {
    display: inline;
}
.panel-primary-auction {
    /*height: 530px;*/
    
}
