
@{
    ViewBag.Title = "Contact";
}
<div class="row">
    <div class="col-lg-2 col-lg-offset-4">

        <h2>Contact</h2>
        <div class="form-group">
            <form action="~/Views/Home/Index.cshtml" method="get">
                <div class="form-group">
                    <textarea @*class="form-control"*@ cols="50" rows="9" placeholder="Your message..."></textarea>
                </div>

                <div class="form-group">
                    <input class="form-control" type="text" placeholder="E-mail" />
                </div>

                <div class="form-group">
                    <button class="btn btn-success" type="reset">Skicka</button>
                </div>
            </form>

        </div>
    </div>
</div>