
@{
    ViewBag.Title = "Contact";
}

<h2>Contact</h2>
<form action="~/Views/Home/Index.cshtml" method="get">
    <div>
        <textarea cols="99" rows="9" type="text" placeholder="Your message..."></textarea>
    </div>
   
    <input type="text" placeholder="E-mail"></input>
    <button type="reset">Skicka</button>
</form>
