
@{
    ViewBag.Title = "LiveAuction";
}

<div class="row">
    <div ng-view></div>
</div>
<br />
<hr />
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Best book ever! :)</h3>
                </div>
                <div class="panel-body">
                    <p>
                        <img class="picture" src="http://ecx.images-amazon.com/images/I/51i3AP7DNFL._AC_UL320_SR254,320_.jpg">
                    </p>
                    <h2 id="time">
                        03:45:05
                    </h2>
                    <h3 id="cash">
                        $1337
                    </h3>
                    <h5 id="user">
                        Mr.Scammer
                    </h5>
                    <p>
                        <center>
                            <a href="#" class="btn btn-success buttonn">Bid Now</a>
                        </center>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Best book ever! :)</h3>
                </div>
                <div class="panel-body">
                    <p>
                        <img class="picture" src="http://ecx.images-amazon.com/images/I/51i3AP7DNFL._AC_UL320_SR254,320_.jpg">
                    </p>
                    <h2 id="time">
                        03:45:05
                    </h2>
                    <h3 id="cash">
                        $1337
                    </h3>
                    <h5 id="user">
                        Mr.Scammer
                    </h5>
                    <p>
                        <center>
                            <a href="#" class="btn btn-success buttonn">Bid Now</a>
                        </center>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Best book ever! :)</h3>
                </div>
                <div class="panel-body">
                    <p>
                        <img class="picture" src="http://ecx.images-amazon.com/images/I/51i3AP7DNFL._AC_UL320_SR254,320_.jpg">
                    </p>
                    <h2 id="time">
                        03:45:05
                    </h2>
                    <h3 id="cash">
                        $1337
                    </h3>
                    <h5 id="user">
                        Mr.Scammer
                    </h5>
                    <p>
                        <center>
                            <a href="#" class="btn btn-success buttonn">Bid Now</a>
                        </center>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Best book ever! :)</h3>
                </div>
                <div class="panel-body">
                    <p>
                        <img class="picture" src="http://ecx.images-amazon.com/images/I/51i3AP7DNFL._AC_UL320_SR254,320_.jpg">
                    </p>
                    <h2 id="time">
                        03:45:05
                    </h2>
                    <h3 id="cash">
                        $1337
                    </h3>
                    <h5 id="user">
                        Mr.Scammer
                    </h5>
                    <p>
                        <center>
                            <a href="#" class="btn btn-success buttonn">Bid Now</a>
                        </center>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>





