
@{
    ViewBag.Title = "Index";
}

<h2>Välkommen till Radera</h2>
<br />
<form method="get">
    <p><label for="username">Username</label><input type="text" name="username" placeholder="Username"/></p>
    <p><label for="password">Password</label><input type="password" name="password" placeholder="Password" /></p>
    <button type="submit">Logga in</button>
</form>

