
@{
    ViewBag.Title = "Index";
}

<h2>Välkommen till Radera</h2>

<form method="get">
    <label for="username">Username</label><input type="text" name="username" placeholder="Username"/>
    <label for="password">Password</label><input type="password" name="password" placeholder="Password" />
    <button type="submit">Logga in</button>
</form>

