@using Radera.Models;
@{
    bool isInlogged = Session["isInlogged"] == null ? false : (bool)Session["isInlogged"];
}

<div class="row">

    @if (isInlogged == false)
    {        
        //Plocka bort bild när användare trycker val i menyn
        <div class="form-group col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
            @*<center><img src="~/image/frontpicture.png" id="imgfront" /></center>*@
            <h2>Welcome!</h2>
        </div>
    }
    
    <div ng-view></div>

</div>
